*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(#fff,#f77d95);
    font-family: 'Poppins', sans-serif;
}

.navbar{

    display: flex;
    padding: 20px ;
    align-items: center;
}
nav{
   flex: 1;
   text-align:right;
}
nav ul{
    display: inline-block;
   list-style-type: none;
}
nav ul li{

    display: inline-block;
    margin-right: 20px;
    transition: background 0.5s;
}
nav ul li:hover{
    border-radius: 5px;
    background: rgb(255, 255, 255);
}
a{
    text-decoration:none;
    color: #555;
}
p{
    color: #555;
}
.logo{
    list-style: none;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 1px;
    padding-right: 1px;

}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-1{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2{
    max-width: 100%;
    padding: 50px 0;
}
.col-1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff2953;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:background 0.5s;
}
.btn:hover{
    background:rgb(155, 88, 88);
}

.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px;
}
.col3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col3 img{
    width: 100%;
}

.smallcon{
    max-width: 1300px;
    margin: auto;
}
.col4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
   
    box-shadow: 10px 0 20px 10px rgba(0, 0,0,0.1);
   background-color: rgb(255, 255, 255);
    cursor: pointer;
    
}
.col4 img{
    width: 100%;
    
    background-color: #fff;
}
.title{
    text-align:center ;
    margin: 80px auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;

}
.title::after{
 content: '';
 background: #ff2953;
 width: 80px;
 height: 5px;
 border-radius: 5px;
 position: absolute;
 bottom: 0;
 left: 50%;
 transform:translateX(-50%) ;
}
h4{
    color: #555;
    font-weight: normal;
}
.col4 p{
    font-size: 15px;
}
.col4:hover{
    transform: translateY(-10px);
}
.info{
    justify-content: space-around;
}
.sec{
    max-width: 100%;
    padding: 50px 0;
}
.feedback{
    padding-top: 10px;
    width: 100%;

}
.feedback .col3{
    text-align:center ;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0,0,0.1);
   
   transition: transform 0.5s;
   background-color: #fff;
}
.feedback .col3 img{
width: 50px;
margin-top: 20px;
border-radius: 50%;

}
.feedback .col3:hover{
    transform: translateY(-10px);
}
.quote{
    font-size: 35px;
    color: #ff2953;
}
.feedback .col3 h3{
    font-weight: 600;
    color: rgb(20, 19, 19);
    font-size: 16px;
}
.footer{
    background: rgba(0, 0, 0, 0);
    color: #070606;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 100px;
}
.footer p{
color: #080808;
}
.footer h3{
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
.footercol1, .footercol2, .footercol3 , .footercol4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footercol1{
    flex-basis: 30%;
}
.footercol2{
    flex: 1;
    text-align: center;
}
.footercol2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footercol3 , .footercol4{
    flex-basis: 12%;
    text-align:center;
}
ul{
    list-style-type: none;
}
.applogo{
    margin-top: 20px;
}
.applogo{
    width: 100%;

}
.footer hr{
    border: none;
    background: #070707;
    height: 1px;
    margin: 20px 0;
}
.copy{
 text-align: center;
}
.menu{
    width: 28px;
    margin-left: 20px;
    display: none;

}
@media only screen and (max-width: 600px){
 
   nav ul{
    position: absolute;
    top: 110px;
    left: 0;
    background: #c0607365;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
}
nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
nav ul li a{
    color: rgb(7, 7, 7);
}
.menu{
    display: block;
    cursor: pointer;
}
}
.col-2 img{
   
    transition: transform 0.5s;
}
.col-2 img:hover{
    transform: translateY(-15px);
}
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2,.col3,.col4{
        flex-basis: 100%;
    }
}
.location{
    width: 80%;
    margin: auto;
    padding: 50px 0;
    
}
.location iframe{
    width: 100%;
}
.contactus{
    width: 100%;
    margin: auto;
   
}
.contactcol{
    flex-basis: 48%;
    margin-bottom: 30px;
    

}

.contactcol div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    
}
.contactcol div img{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contactcol div h5{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 400;
}.btn{
    display: inline-block;
    background: #ff2953;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 10px;
    transition:background 0.5s;
   margin: none;
}
.btn:hover{
    background:rgb(155, 88, 88);
}
.contactcol input, .contactcol textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid#ccc;
}
.an{
    border-radius: 15px;
    transition: transform 0.5s;
    box-shadow: 0 5px 0px rgba(0, 0,0,0.1);
    cursor: pointer;
}
.an:hover{
    transform: translateY(-7px);
}
.log{
    height: 100%;
    width: 100%;
   
   
}
.formbox{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 15px;
}
.button{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px  #f862944f;
    border-radius: 30px;
    
}
.toggle{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#bt{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #fd456a;
    border-radius:30px;
    transition: 0.5s;
}
.social{
    margin: 30px auto;
    text-align: center;
    background-color: white;
}
.social img{
    margin: 0 12px;
    border-radius: 1px
}
.inputgrp{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.inputgrp1{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
    margin-left: 45px;
}
.inputfeild{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.submitbtn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background-color:#ff5779;
    border: 0;
    outline: none;
    border-radius: 30px;
    
}
.checkbox{
    margin: 30px 10px 30px 0;
}
.abc{
    margin-top: 15px;
    font-size: 12px;
}
.abcd{
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 30px;
}

#login{
    left: 50px;
}
#signup{
    left: 450px;
}
.x{
    margin-top: 20px;
    margin-left: 45px;
}
.y{
    margin-left: 130px;
    margin-top: 20px;
}
.mess{
    margin-top: 70px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.message{
   text-align: center;
}
.blogcontent{
width: 80%;
margin: auto;
padding: 60px 0;

}
.blogleft{
    flex-basis: 65%;
}

.blogleft .ho{
    color: #222;
    font-weight: 600;
    margin: 30px 0;

}
.blogleft p{
    padding: 0;
}
.blogleft img{
    width: 100%;
}
.comment{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment h3{
    text-align: left;
}
.commentf input, .commentf textarea{
width: 100%;
padding: 10px;
margin: 15px 0;
box-sizing: border-box;
border: none;
outline: none;
background: #f0f0f0;
}
.commentf button{
margin: 10px 0;
}
.formbox1{
    width:100%;
    height: auto;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.5s;
    box-shadow: 0 5px 0px rgba(0, 0,0,0.1);
  

}
.formbox1:hover{
    transform: translateY(-7px);
}
.formbox1 h1{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}
.singlepro{
    margin-top: 80px;

}
.singlepro .col-2 img{
    padding: 0;

  
}
.singlepro .col-2{
    padding: 10px;
}
.singlepro h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.singlepro input{
   width: 68px;
   height: 40px;
   padding-left: 10px;
   font-size: 20px;
   margin-right: 10px;
   border: 1px solid #ff523b;
}
.row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 30px;
}
.cart{
    margin: 80px auto;
   
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cartinfo{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background:#ff2953;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
width: 40px;
height: 30px;
padding: 5px;
}
td a{
    color: #ff2953;
    font-size: 12px;
}
td img{
    width: 120px;
    height: 80px;
    margin-right: 10px;

}
.total-price{
    display: flex;
    justify-content:flex-end;

}
.total-price table{
    border-top: 3px solid #ff2953;
    width: 100%;
    max-width: 570px;
}
td:last-child{
    text-align: right;

}
th:last-child{
    text-align: right;
}
.btn1{
    display: inline-block;
    background: #ff2953;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 10px;
    transition:background 0.5s;
    width: 300px;
    margin-left: 100px;
   text-align: center;
 
}
.go{
    margin-left: 100px;
}
.formbox2{
    width: 580px;
    height: 880px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 15px;
}
.formbox3{
    width: 500px;
    height: auto;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 15px;
    align-content: center;
}
.btn2{
    display: inline-block;
    background: #ff2953;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    transition:background 0.5s;
    margin-left: 120px;
margin-top: auto;
}
.btn2:hover{
    background:rgb(155, 88, 88);
}
.btn3{
    display: inline-block;
    background: #ff2953;
    color: #fff;
    padding: 8px 30px;
   
    border-radius: 30px;
    transition:background 0.5s;
    margin-left: 90px;
margin-top: 30px;
}
.btn4 {
    display: inline-block;
    background: #ff2953;
    color: #fff;
    padding: 8px 30px;
   
    border-radius: 30px;
    transition:background 0.5s;
    margin-left: 110px;
margin-top: 30px;
}
.btn5{
    display: inline-block;
    background: #ff2953;
    color: #fff;
    padding: 8px 30px;
   margin-top: 10px;
   margin-right: auto;
    border-radius: 30px;
    transition:background 0.5s;
}
.yo {
    
   top: -10px;
   right: -10px;
   width: 17px;
   height: 17px;
   background-color: red;
   color:white;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 10px;
 margin-bottom: 30px;
}

.formboxx{
    width:100%;
    height: auto;
    position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.formboxx h3{
   
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}
.as {
    height: 10px;
    width: 10px;
 }
 .bb{
     margin-right: 10px;
 }
 .ag{
     border-radius: 15px;
    width: 30%;;
     box-shadow: 0 5px 0px rgba(0, 0,0,0.1);
 }
 
.commentfx input, .commentfx textarea{
        width: 30%;
        padding: 10px;
        margin: 15px 0;
        box-sizing: border-box;
        border: none;
        outline: none;
        background: #f0f0f0;
        }
        .formboxx1{
            width:70%;
            height: auto;
            position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
            background: #fff;
            padding: 5px;
            overflow: hidden;
            border-radius: 10px;
        }
        
        .star-rating {
        
            display:flex;
            flex-direction: row-reverse;
            font-size:1.5em;
            justify-content:space-around;
            padding:0 .2em;
            text-align:center;
            width:5em;
        }
        
        .star-rating input {
            display:none;
        }
        
        .star-rating label {
            color:#ccc;
            cursor:pointer;
        }
        
        .star-rating :checked ~ label {
            color:#f90;
        }
        .yg{
            font-size: 13px;
            color: #f44336;
        }
        .i{
        background-color: #f90; 
        color:white;
        border-radius: 4px;
        width: 50px;
        }
        .o{
            font-size: 12px;
            font-weight: 400px;
        }
        .d{
            font-size: 13px;
            cursor: pointer;
            transition: 0.5s;
        }
        .d:hover{
            color: #f44336;
        }

.btn22{
display: inline-block;
background: #ff2953;
color: #fff;
padding: 8px 30px;
border-radius: 30px;
transition:background 0.5s;
margin-left: auto;
margin-top: auto;
border: none;
}
.btn22:hover{
background:rgb(167, 95, 95);
cursor: pointer;
}

.radiobtn{
    margin-right: 80%;
}

.addressselect{
    font-size: 23px;
    font-weight: 400px;
    color: #ff2953;
}